@page "/Courses/List"
@rendermode InteractiveWebAssembly
@inject HttpClient _httpClient
@attribute [StreamRendering]


<PageTitle>Course List</PageTitle>

@if (Courses==null)
{
    <p><em>Loading ...</em></p>
}
else
{
    if (Courses.Any())
    {

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Level</th>
                    <th>Release Date</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (CourseViewModel course in Courses)
                {
                    <tr>
                        <td>@course.Name</td>
                        <td>@course.Author</td>
                        <td>@course.Level</td>
                        <td>@course.ReleaseDate</td>
                        <td>
                            <a class="btn btn-success" href="/Courses/Edit/@course.Id">Edit</a> |

                            <button class="btn btn-danger" @onclick="()=>RemoveCourse(course.Id)">Remove</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>


    }
    else
    {
        <div class="alert alert-info">
            <p>Course list is empty</p>
        </div>
    }
}

@code {
    public List<CourseViewModel>? Courses;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        Courses = await GetAll();
    }
}


@functions {

    private async Task<List<CourseViewModel>?> GetAll()
    {
        return await _httpClient.GetFromJsonAsync<List<CourseViewModel>>("https://localhost:7109/api/course");
    }
    private async Task RemoveCourse(int id)
    {
        await _httpClient.DeleteAsync($"https://localhost:7109/api/course/{id}");
    }
}